@import url('css/style.css');
@import url('css/vendors/responsive.css');

.sidebar .widgets {
	width: 210px;
	background-color: #EFEFEF;
	border: 1px solid #CCCCCC;
	padding: 18px;
	font-family: Helvetica;
	font-size: 20px;
	color: #333333;
	margin-top: 40px;
}

.sidebar .widgets a:hover {
	font-family: Helvetica;
	color: pink;
}